/*Sets the colors used for the admin background*/
body{
	background-color:#F4F5EB;
	font-family:arial;	
	font-size:12px;
	height:100%;
}

/*Default colors for links*/
a,a:link, a:active, a:hover, a:visited {
    color:#5e779a;
}

/*Sets the left side navigation panel*/
#navigation{
	/*background-image:url("opc_50.png");*/
	border:1px solid #9d9d9d;
	padding:0;
	margin:0;
	left:0px;
	width:190px;
	height:350px;
	background-color:white;
}

/*Sets the navigation links colors*/
#navigation ul, #tab_nav ul{
	list-style-type:none;
}

#navigation ul, #navigation ul li, #tab_nav ul, #tab_nav ul li{
	margin:0;
	padding:0;
}

#navigation ul li{
	display:inline;
}

#navigation ul li a:active,#navigation ul li a:visited,#navigation ul li a:link {
	display:block;
	margin:0;
	text-decoration:none;
	color:#555;
	padding:3px 5px;
	width:188px;
}


#navigation ul li.active a:active, #navigation ul li.active a:visited, #navigation ul li.active a:link {
	font-weight:bold;
	background:url('/img/shaddow.png') repeat-x bottom left #eee;
	border:0px solid #9d9d9d;
	border-top-width:1px;
	border-bottom-width:1px;
}


/*Sets the tabs and colors*/
#tab_nav ul{
	display:block;
}

#tab_nav{
	padding-top:5px;
}

#tab_nav ul li{
	display:inline;
	margin-right:3px;
}

#tab_nav ul li a:active,#tab_nav ul li a:visited,#tab_nav ul li a:link{
	padding:5px;
	border:1px solid #9d9d9d;
	background:url('/img/opc_50.png') repeat-x 0% 117% #ccc;
	color:#666;
	font-weight:bold;
	text-decoration:none;
}

#tab_nav ul li.active_tab a:active,#tab_nav ul li.active_tab a:link,#tab_nav ul li.active_tab a:visited{
	color:#666;background-color: #9fc3dd;
}

#tab_nav ul li a:hover{
	color:gray;
}

/*Spacer for the tab*/
#top {
	margin:4px 0px;
}

#top .links a:link,#top .links a:active,#top .links a:visited{
	color:#2083ca;
	text-decoration:none;
	font-size:10px;
}

.spacer{
width:10px;
}


/*Main content area*/
#content{
border:1px solid gray;
background-color:white;
}


/*Buttons and colors*/
#buttons{
    border:1px solid #9d9d9d;
    height:30px;
    margin-top:5px;
    background:url("/img/opc_50.png") repeat-x 0% 125% #ebedd9;
}

#buttons ul{
    display:block;
    margin:0;
    padding:0px;
    padding-top:4px;
    margin-left:50px;
}

#buttons ul li{
    display:inline;
    margin:3px;
    margin-right:3px;
    padding:0px;
}

#buttons ul li a:active,#buttons ul li a:link,#buttons ul li a:visited{
	text-decoration:none;
	color:#333;
	border:1px solid transparent;
	
	padding:3px;
}

#buttons ul li a:hover{
border:1px solid #666;
}

#buttons li.active a:active,#buttons li.active a:link,#buttons li.active a:visited {
	background:url("/img/opc_50.png") repeat-x 0% 117% #9fc3dd;
	border:1px solid #666;
}


/*Form search and filter area*/
#search_form{
    border:1px solid gray;
    background-color:#eee;
    margin:5px;
    margin-bottom:10px;
    padding:5px;
    text-align:right;
    position:relative;
    height:35px;
}

#search_form table{
    position:absolute;
    top:0;
    right:0;
}

#search_form table td {
    padding-left:20px;
}

#search_form select, #search_form select option, .search_box {
    font-size:10px;
}


/*Dresses up tables by styling TH and table */
.fancy_table {
    border-color: #c9c9c9;
    border-width: 0 0 1px 1px;
    border-style: solid;
    background-color:white;
}

.fancy_table td, .fancy_table th {
    border-color: #c9c9c9;
    border-width: 1px 1px 0 0;
    border-style: solid;
    margin: 0;
}

.fancy_table th {
    height:21px;
    background:url('/img/th_bg.gif') top repeat-x;
    padding-left:10px;
    text-align:left;
    color:#656565;
}

/*Sets fieldsets for consistency*/
fieldset {
    background-color:#ececec;
    border: 1px solid #e5e5e5;
	margin:20px;
}

legend {
    color:#4f78c1;
}

.button {
    background:url("/img/button_bg.gif") bottom repeat-x;
    border:1px solid gray;
}

.textbox {
    border:1px solid #8ba0bd;
    background-color:white;
}