.entry-title { 
  display:none;
}


/*Grid Table Settings*/

.dg_tbl_title { 
    background-color:#004a80;
    color:#FFFFFF;
    font-family:verdana;
    font-size:12px;
    font-weight:bold;
}
.dg_tbl_header, .dgth {
    background-color:#FEFCE8;
    color:#000000;
    font-family:verdana;
    font-size:11px;
    font-weight:bold;
}
.dg_tbl_header a, .dg_tbl_header a:visited, .dg_tbl_header a:link,.dg_tbl_header a:active,
.dgth a, .dgth a:visited, .dgth a:link,.dgth a:active {
    color:#000000;
    text-decoration:none;
}

.dg_tbl_header a:hover {
    color:#000000;
    text-decoration:underline;
}

/*Datagrid Row*/
.dg_tbl_row, .dgtr {
    background-color:;
    color:#000000;
    font-family:verdana;
    font-size:11px;
    font-weight:normal;
}




.dg_tbl_header .pagination, .dgth .pagination{
    padding:2px;
}

.dg_tbl_header .pagination ul, .dgth .pagination ul{
    font-size:12px;
    margin:0;
    padding:0;
    text-align:left;
}
.dg_tbl_header .pagination li, .dgth .pagination li{
    display:inline;
    list-style-type:none;
    margin:2px;
    padding-bottom:1px;
}
.dg_tbl_header .pagination a, .dg_tbl_header .pagination a:visited,
.dgth .pagination a, .dgth .pagination a:visited{
    border:1px solid #004a80;
    color:#004a80;
    padding:0 5px;
    text-decoration: none;
}
.dg_tbl_header .pagination a:hover, .dg_tbl_header .pagination a:active,
.dgth .pagination a:hover, .dgth .pagination a:active{
    background-color:lightyellow;
    border:1px solid #004a80;
    color:#000;
}
.dg_tbl_header .pagination li.currentpage,.dgth .pagination li.currentpage {
    background-color:#004a80;
    border:1px solid navy;
    color:#FFFFFF;
    font-weight:bold;
    padding:0 5px;
}
.dg_tbl_header .pagination li.disablepage,.dgth .pagination li.disablepage {
    border:1px solid #929292;
    color:#929292;
    padding:0 5px;
}
.dg_tbl_header .pagination li.nextpage,.dgth .pagination li.nextpage{
    font-weight:bold;
}
.dg_tbl_header .toppagination,.dgth .toppagination{
    padding:2px;
}
.dg_tbl_header .toppagination ul,.dgth .toppagination ul{
    font-size:12px;
    margin:0;
    padding:0;
    text-align: left;
}
.dg_tbl_header .toppagination li,.dgth .toppagination li{
    display:inline;
    list-style-type:none;
    margin:2px;
    padding-bottom:1px;
}
.toppagination a, .toppagination a:visited, .toppagination a:active, .toppagination a:link{
    color:#004a80;
    padding:0 3px;
    text-decoration:none;
}
.toppagination a:hover{
    color:#000;
}
* html .dg_tbl_header .pagination li.currentpage, * html .dg_tbl_header .pagination li.disablepage,
* html .dgth .pagination li.currentpage, * html .dgth .pagination li.disablepage{
    /*IE 6 and below. Adjust non linked LIs slightly to account for bugs*/
    margin-right: 5px;
    padding-right: 0;
}

.dg_filter_form {
    background-color:#eee;
    border:1px solid gray;
    margin:5px;
    margin-bottom:10px;
    margin-top:3px;
    padding:5px;
    position:relative;
    text-align:right;
}


.dgcustomselect, #filterDefaultsSelection{
  background-color:white;
  background-color: #eee;
  border:1px solid gray;
  z-index:999;
  left:0;
  margin-top:20px;
  position:absolute;
}

.dgcustomselect table {
background-color: #eee;
}

/**
Content Menu
**/
.cmenu {
    margin:0;
    padding:0.3em;
    list-style-type:none;
    background-color:#white;
}
.cmenu li a,.cmenu li a:visited,.cmenu li a:link,.cmenu li a:active{
    text-decoration:none;
    color:black;
    padding:3px;
    display:block;
    font-family:verdana;
    font-size:10px;
}
.cmenu li a:hover {
    background-color:#316ac5;
    color:white;
}
.cmenu hr {
    border: 0; border-bottom: 1px solid grey; margin: 3px 0px 3px 0px; width: 10em;
}
.cmenu .topSep {
    border-top: 1px solid gray; margin-top:5px;
}
