#validatePassword {
	   font-family: Arial;
     width: 175px;
     height: 150px;
}

#validatePasswordHeader {
	   font-size: 12pt;
}

#validatePasswordIcon {
	   font-size: 10pt;
}

#validatePasswordItem {
	   font-size: 10pt;
     font-weight: bold;
}